.p1{    
    background: url(../img/foto2.jpg);
}
.p2{
    background-image: url(../img/foto1.jpg);
    
}
.p3{
    background-image: url(../img/foto3.jpg);
}

.contenedor{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


.fondo{
   background-image: no-repeat;
   background-image: fixed;
   background-image: center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
.principal{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: white;
}
.descrip{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.desc{
    width: 50vw;
    text-align: center;
    color: white;
    text-align: center;
}

/* Segunda pagina fullpage */

.contenedor-p2{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60% 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}
.descrip-p2{
       grid-area: 2 / 1 / 3 / 2;
       display: flex;
       align-items: center;
       justify-content: center;
}
.desc-p2{
    
    width: 100vw;
    text-align: center;
    font-size: 150px;
    background-color: white;
}